<!-- Body Inner 
========================================== -->
<div class="body-inner">
  <!-- Header -->
  <header id="header" data-transparent="true" class="header-transparent">
    <div class="header-inner">
      <div class="container">
        <!-- Logo -->
        <div id="logo">
          <a href="#">
            <span class="logo-default">STAGED</span>
          </a>
        </div>
        <!-- #Logo: end -->

        <!-- Header Extras -->
        <div class="header-extras">
          <ul>
            <li>
              <div class="p-dropdown">
                <a href="#"><i class="fas fa-user-circle"></i></a>
                <ul class="p-dropdown-content">
                  <li><a href="#">French</a></li>
                  <li><a href="#">Spanish</a></li>
                  <li><a href="#">English</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- #Header Extras: end -->

        <!--Navigation Resposnive Trigger-->
        <div id="mainMenu-trigger">
          <a class="lines-button x"><span class="lines"></span></a>
        </div>
        <!--end: Navigation Resposnive Trigger-->

        <!-- Main Nav -->
        <div id="mainMenu" class="menu-center">
          <div class="container">
            <nav>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li class="dropdown">
                  <a href="#">Galleries</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">more</a></li>
                  </ul>
                </li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Prices</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- #Main Nav: end -->
      </div>
    </div>
  </header>
  <!-- #Header: end -->

  <!-- SECTION IMAGE FULLSCREEN -->
  <section class="fullscreen background-image" style="background-image: url(images/19.jpg)">
    <div class="container">
      <div class="container-fullscreen">
        <div class="text-middle text-right">
          <h3 data-animate="fadeInDown" data-animate-delay="0">Hi, I am</h3>
          <h1 class="text-lg" data-animate="fadeInDown" data-animate-delay="500">John Smith</h1>
          <h4 data-animate="fadeInDown" data-animate-delay="1000">Professional Web designer/Developer</h4>
          <div class="scrolldown-animation" id="scroll-down">
            <a class="scroll-to" href="#easy-fast"><img src="images/scrolldown-dark.png" alt="" /> </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end: SECTION IMAGE FULLSCREEN -->
</div>
<!-- #Body Inner: end -->
