<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Stylesheets
	============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/swiper.css" type="text/css" />

    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <!-- <link rel="stylesheet" href="one-page/css/et-line.css" type="text/css" /> -->
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="css/store/css/fonts.css" type="text/css" />
    <!-- Store Theme Font -->
    <link rel="stylesheet" href="css/store/store.css" type="text/css" />
    <!-- Store Theme Custom CSS -->

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
	============================================= -->
    <title>Staged | Home</title>
  </head>
  <body class="stretched">
    <!-- Document Wrapper
	============================================= -->

    <div id="wrapper" class="clearfix">
      <%- include('./partials/_header.ejs') %> <%- include('./partials/_slider.ejs') %> <%- include('./partials/_footer.ejs') %>
    </div>

    <!-- #wrapper end -->

    <!-- Go To Top
	============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
	============================================= -->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.min.js"></script>

    <!-- Footer Scripts
	============================================= -->
    <script src="js/functions.js"></script>
  </body>
</html>
